#menu1, #topo-portal, topo-buttons, .treeview {display: none;}

body{
	font-family: Arial,Helvetica,sans-serif;
	font-size:9pt;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;

	margin: 0;
	padding: 0;
	color:#666666;
	
}

th{
	font-size: 1em;
	font-weight: bold;
	text-align: left;
}
th.sub{
	font-size: 0.9em;
	font-weight: bold;
	text-align: left;
	
}
td.sub{
	 padding-bottom: 1px;
}
td.sub ul{
	margin: 0;
}
.borda-externa{
	width: 180mm;
	
	page-break-after: always;
	 
	
}

.subtabela tr, .subtabela td{
	
	border: 1px dotted black;
}
.subtabela{
	border-collapse:collapse;
	border:  1px solid black !important;
}
.titulo{
	text-align: center;
}
.separador {
	margin: 0;
	padding: 0;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #666666;
	width: 100%;
}
.interno{
	width: 100%;
	border: 1px solid black;
}