body {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size:12px;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;

    margin: 0;
    padding: 0;
    /*color:#666666;*/

}
.folder{
    white-space:nowrap;

}
table{


}
#flash-m{
    font-weight: bold;
    color: green;
    font-size: 0.9em;
    height: 30px;
}
#pendencias ul{
    padding-left: 1.8em;
}
.collapse{
    border-collapse:collapse;
}
.tb-header{
    width:100%;
}
td{
    border: none;

}

#menu_tree{
    width:100%;
    float:inherit;
    min-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    max-width: 183px;
}

#corpo{
    margin: 5px;
    padding: 0;
    overflow:   auto;
}
#topo{
    margin: 0;
    padding: 0;
    /**background-color: #ece9d8;*/
    height: 110px;
    /*color: #666666;*/
}
#topo-portal {
    height:25px;
    width:100%;
    clear: both;
}
#topo-ico {
    float:left;
    height:30px;
    margin:30px 0 0 10px;
    padding:33px 0 14px !important;
    width:740px;
    clear: both;
}
#topo-ico .topo-logo {
    float:left;
    margin:0 4px 0 0;
}


#menu1{
    float:left;
    width:220px;
    left:-200px;
    position: absolute;
    top:170px;
    float:inherit;


}
#barra{
    float: right;
    position:absolute;
    right: -2px;
    height: auto;
    width: 20px;
}
div#menu1:hover .menu-barra{
    float:left;
    left:0;
}

div#menu1:hover{
    left:0;
    background-position: top left;
    background:none;
    padding-left: 20px;
}
.esconder{
    visibility:hidden;
}
div#menu1:hover .esconder{
    visibility:visible;
}

#login{
    position:relative;
    top:-20px;
    z-index:10;

}
#objeto{
    position:relative;
    top:0px;
    left:0px;
    width:100%;
    padding:0;
    margin:0;
    z-index:0;
}



/* Table */
th {
    text-align: left;
}

td,th {
    padding-right: 5px;
}

/* style form */
form dt {
    width: 100px;
    display: block;
    float: left;
    clear: left;
}

form dd {
    margin-left: 0;
    float: left;
}

form #submitbutton {
    margin-left: 100px;
}


.titulo-nav{
    background-color:#FFFFCC;
    padding-right: 40px;
}

.my-jq-button{
	font-size: 0.85em !important;
}


.my-button{
    display: block;
    outline: 0;
    margin: 0 !important;
    padding: .1em .1em;
    text-decoration:none !important;
    cursor:pointer;
    position: relative;
    text-align: center;
    zoom: 1;
    float:left;
}

.text-caption{
    font-size: 1.1em;
}


.fg-button { outline: 0; margin:0 4px 0 0; padding: .4em 1em; text-decoration:none !important; cursor:pointer; position: relative; text-align: center; zoom: 1; }
.fg-button .ui-icon { position: absolute; top: 50%; margin-top: -8px; left: 50%; margin-left: -8px; }

a.fg-button { float:left; }

/* remove extra button width in IE */
button.fg-button { width:auto; overflow:visible; }

.fg-button-icon-left { padding-left: 2.1em; }
.fg-button-icon-right { padding-right: 2.1em; }
.fg-button-icon-left .ui-icon { right: auto; left: .2em; margin-left: 0; }
.fg-button-icon-right .ui-icon { left: auto; right: .2em; margin-left: 0; }

.fg-button-icon-solo { display:block; width:8px; text-indent: -9999px; }	 /* solo icon buttons must have block properties for the text-indent to work */	

.fg-buttonset { float:left; }
.fg-buttonset .fg-button { float: left; }
.fg-buttonset-single .fg-button, 
.fg-buttonset-multi .fg-button { margin-right: -1px;}

.fg-toolbar { padding: .1em; margin: 0;min-height: 15px  }
.fg-toolbar .fg-buttonset { margin-right:1.5em; padding-left: 1px; }
.fg-toolbar .fg-button { font-size: .7em; min-height: 15px  }

/*demo page css*/
.strike { text-decoration: line-through; }

.progressbar{
    height:0.8em;
    text-align: center;
}


.ui-widget-header { font-family: Verdana,Arial,Helvetica,sans-serif; }
.ui-widget { font-family: Verdana,Arial,Helvetica,sans-serif; }

.odd{
    background-color:  #F8F6F4;
}
.even{

    /**background-color:  #F2F0FF;*/
}
.text-header{
    font-size: 1.1em;
    font-weight: bold;
}


.tabela-resultado{
    width: 650px;
}



/* novo modelo */

/* login */

.campo-login
{

    text-align:left;
    margin-left:0px;
    margin-right:0px;
    margin-top:0px;
    margin-bottom:0px;
    width:412px;
    float:right;
}




/* TEXTO */




.titulo
{
    font-family:Arial, Helvetica, sans-serif;
    font-size:18px;
    text-align:left;
    font-weight:bold;
    background-color:#FFFFFF;
    margin-left:5px;
    margin-top:0px;
    margin-bottom:15px;
    Xfloat: left;
    margin-right: auto;
}

.titulo-nivel2
{
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    text-align:left;
    font-weight:bold;
    background-color:#FFFFFF;
    margin:auto;
    margin-left:5px;
    margin-top:3px;
    margin-bottom:6px;
}

.titulo-nivel3
{
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    text-align:left;
    font-weight:bold;
    background-color:#FFFFFF;
    margin:auto;
    margin-left:15px;
    margin-top:3px;
    margin-bottom:6px;
}

.titulo-nivel4
{
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    text-align:left;
    font-weight:bold;
    color: #a01c1c;
    background-color:#FFFFFF;
    margin:auto;
    margin-left:25px;
    margin-top:3px;
    margin-bottom:6px;
}


.titulo-cinza1
{
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    text-align:left;
    font-weight:bold;
    color: #858080;
    margin:auto;
    margin-left:5px;
    margin-top:3px;
    margin-bottom:6px;
}

.titulo-cinza2
{
    font-size:14px;
    text-align:left;
    font-weight:bold;
    margin:auto;
    margin-left:15px;
    margin-top:3px;
    margin-bottom:6px;
}


.titulos-tabela
{
    font-weight:bold;
    text-align:left;
    font-size: 1.2em;
    border-bottom:#f7c2c2 2px dotted;
    margin-bottom: 10px;
    padding-bottom:5px;
}

.subtitulos-tabela
{
    font-weight:bold;
    text-align:left;
    font-size: 1.1em;
    padding-left:3px;
    padding-bottom:5px;
    margin:0px;
}

p
{		
    margin-bottom: 2px;
    margin-top: 2px;
}




.endereco{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-align: center;
    float:none;
    width:95%;
    font-size: 10px;
    color: #8a8787;
    margin: auto;
    margin-top:10px;
    line-height: 16px;
    padding: auto;
    border-top:solid 1px #f1cfcf;

}


.pequeno
{		
    font-family: XVerdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: small;
    color: #000000;
}

small
{		
    font-family: XVerdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: small;
    color: #000000;
}

.ul-grid{
	margin: 0;
  	padding-left: 1em;
}
td {
    vertical-align: top;
}

/* FORMUL�RIO */
form 	{	
    text-align: left;
    margin: 0px;
    padding:0px;
    /*color: #918c8c;*/
}

input, button 
{	
    font-size:1em;
    vertical-align:middle;
    /*color: #635e5e;*/
}


/* TABELAS */

#caixa {
    text-align:center;
    border-right: #e4e0e0 1px solid;
    border-left:  #e4e0e0 1px solid;
    border-bottom:#e4e0e0 1px solid;
    background-color: #FFFFFF;
    margin: 0px;
    width: 99%;
    right: auto;
    padding-top: 0px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
}

#caixa-menu {
    text-align:left;
    float:none;
    width: 160px;
    margin: auto;
    margin-left:10px;
    margin-right:7px;
    padding: auto;
}

#margem {
    text-align: center;
    background-color:#FFFFFF;
    margin: auto;
    border-right: #dcd9d9 1px solid;
    border-left:  #dcd9d9 1px solid;
    border-bottom:#dcd9d9 1px solid;
    width: 96%;
    padding: 5px 5px 10px 5px;
}

.menuvertical {
    background-color: #FFFFFF;
    margin: 1px;
    width:32px;
    height: 248px;
    float:left;
    text-align:left;
    clip: rect(auto,auto,auto,auto);
}


.clearfloat { 
    clear:both;
    height:0;
    font-size: 1px;
    line-height: 1px;
}

#formtabs{
    width: 100% !important;
    height: 94% !important;
}


table.bordasimples {border-collapse: collapse; width: 90%}

table.bordasimples tr td,table.bordasimples tr th {border:1px solid #FF0000;vertical-align: middle}


table.borda-arredondada{
    width: 99%;
    border:0;
    padding: 0;
    border-spacing: 0;
    min-height: 400px
}
td.tb-corner{
    background-repeat:no-repeat;
}
td.tb-corner-top-left{
    min-width:5px !important;
    max-width: 5px !important;
    background-image: url("../images/curva-sup-esq.jpg");
    min-height: 14px;
}
td.tb-corner-top-right{
    min-width:7px !important;
    max-width: 5px !important;
    background-image: url("../images/curva-sup-dir.jpg");
}
td.tb-corner-top-center{
    background-repeat:repeat-x !important;
    background-image: url("../images/linha-sup-horiz.jpg");
    min-height: 14px !important;
}

.tb-corner-side{
    vertical-align: top;
}
.tb-corner-side-left{
    min-width:5px !important;
    max-width:5px !important;
    background-repeat:repeat-y;
    background-image: url("../images/linha-esq-vert.jpg");
}
.tb-corner-side-left-menu{
    min-width:183px !important;
    max-width:183px !important;
    background-repeat:repeat-y;
    background-image: url("../images/linha-esq-vert.jpg");
}

.tb-corner-side-right{
    background-repeat:repeat-y;
    background-image: url("../images/linha-dir-vert.jpg");
}
td.tb-corner-botton-left{
    background-repeat:no-repeat;
    min-width:5px !important;
    background-image: url("../images/curva-inf-esq.jpg");
    min-height: 11px;
}
td.tb-corner-botton-center{
    background-repeat:repeat-x !important;
    background-image: url("../images/linha-inf-horiz.jpg");
    min-height: 14px !important;
}
td.tb-corner-botton-right{
    background-repeat:no-repeat;
    min-width:5px !important;
    max-width:5px !important;
    background-image: url("../images/curva-inf-dir.jpg");
    min-height: 11px;
	border: none;
}
table.tb-corpo{
    border: thin solid #dddddd;
    width:100%;
}
table.tb-corpo td{
    border-bottom: 1px solid #dddddd;
    padding-bottom: 5px;
}
span.descricao_item{
    float:left; width: 95%; text-align: justify;
}

td.espacador{
    padding-left: 15px;

}

table.espacador-table{
    border-bottom:thin solid;
    border-left:thin solid;
    width: 100%;
}
table.tb-cabecalho{
    width: 100%;
    border-collapse: collapse;
    padding: 0;
}
.div_slider{
    width: 100px;
}