body {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size:10px;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;

	margin: 0;
	padding: 0;
	color:#666666;
	
	
}

table{
	
	
}

.collapse{
	border-collapse:collapse;
}
.tb-header{
	width:100%;
}
td{
	border:none;
	
}

#corpo{

	margin: 5px;
	padding: 0;
	overflow:   auto;
	margin-left:30px;
	
}
#topo{
	margin: 0;
	padding: 0;
	/**background-color: #ece9d8;*/
	height: 110px;
	color: #666666;
}
#topo-portal {
	height:25px;
	position:absolute;
	width:100%;
}
#topo-ico {
	float:left;
	height:30px;
	margin:30px 0 0 10px;
	padding:33px 0 14px !important;
	position:absolute;
	width:740px;
}
#topo-ico .topo-logo {
	float:left;
	margin:0 4px 0 0;
}


#menu1{
	float:left;
	width:220px;
	left:-200px;
    position: absolute;
	top:170px;
	float:inherit;


}
#barra{
	float: right; 
	position:absolute;
	right: -2px;
	height: auto;
	width: 20px;
}
div#menu1:hover .menu-barra{
	float:left;
	left:0;
}

div#menu1:hover{
	left:0;
	background-position: top left;
	background:none;
	padding-left: 20px;
}
.esconder{
	visibility:hidden;
}
div#menu1:hover .esconder{
		visibility:visible;
}

#login{
	position:relative;
	top:-20px;
	z-index:10;
	
}
#objeto{
	position:relative;
	top:0px;
	left:0px;
	width:100%;
	padding:0;
	margin:0;
	z-index:0;
}



#menu1 ul {
	list-style: none;
	width: 180px;
	margin: 0;
	padding: 0;

}

#menu1 a, #menu1 h2 {
	display: block;
	border-width: 1px;
	border-style: solid;
	margin: 0;
	padding: 2px 3px ;
}

#menu1 h2 {
	color: #fff;
	text-transform: uppercase;
}

#menu1 a {
	color: #000;
	text-decoration: none;
}

#menu1 a:hover {
	color: #a00;
}


#menu1 li {
	position: relative;
	width:130px;
}

#menu1 ul ul ul{
	position: absolute;
	top: 0;
	left: 100%;
	width: 100%;
}

div#menu1 ul ul ul,
div#menu1 ul ul li:hover ul ul
{display: none;}

div#menu1 ul ul li:hover ul,
div#menu1 ul ul ul li:hover ul
{display: block;}



/* Table */
th {
	text-align: left;
}

td,th {
	padding-right: 5px;
}

/* style form */
form dt {
	width: 100px;
	display: block;
	float: left;
	clear: left;
}

form dd {
	margin-left: 0;
	float: left;
}

form #submitbutton {
	margin-left: 100px;
}



/* ADAPTADO DO MONITORA*/
.titulos-tabela {
	background-color:#FFFFFF;
	color:#444242;
	font-weight:bold;
	text-align:center;
}




/**
 * cria efeito de arredondamento 
 */
div.outer {
	background:#CC8822 none repeat scroll 0 0;
	float:left;
	margin:15px;
	padding:8px;
	width:90%;
}
div.inner {
	background:#fff none repeat scroll 0 0;
	border:0 none;
	margin:0;
	padding:10px;
	
	
}


.titulo-nav{
	background-color:#FFFFCC;
	padding-right: 40px; 
}




.my-button{
	display: block;
	outline: 0; 
	margin:0 4px 0 0; 
	padding: .1em .1em; 
	text-decoration:none !important; 
	cursor:pointer; 
	position: relative; 
	text-align: center; 
	zoom: 1;
	float:left;
}

.text-caption{
	font-size: 1.1em;
}


.fg-button { outline: 0; margin:0 4px 0 0; padding: .4em 1em; text-decoration:none !important; cursor:pointer; position: relative; text-align: center; zoom: 1; }
	.fg-button .ui-icon { position: absolute; top: 50%; margin-top: -8px; left: 50%; margin-left: -8px; }
	
	a.fg-button { float:left; }
	
	/* remove extra button width in IE */
	button.fg-button { width:auto; overflow:visible; }
	
	.fg-button-icon-left { padding-left: 2.1em; }
	.fg-button-icon-right { padding-right: 2.1em; }
	.fg-button-icon-left .ui-icon { right: auto; left: .2em; margin-left: 0; }
	.fg-button-icon-right .ui-icon { left: auto; right: .2em; margin-left: 0; }
	
	.fg-button-icon-solo { display:block; width:8px; text-indent: -9999px; }	 /* solo icon buttons must have block properties for the text-indent to work */	
	
	.fg-buttonset { float:left; }
	.fg-buttonset .fg-button { float: left; }
	.fg-buttonset-single .fg-button, 
	.fg-buttonset-multi .fg-button { margin-right: -1px;}
	
	.fg-toolbar { padding: .1em; margin: 0;  }
	.fg-toolbar .fg-buttonset { margin-right:1.5em; padding-left: 1px; }
	.fg-toolbar .fg-button { font-size: .7em;  }

	/*demo page css*/
	.strike { text-decoration: line-through; }

.progressbar{
	height:0.8em;
	text-align: center;
}


.ui-widget-header { font-family: Verdana,Arial,Helvetica,sans-serif; }
.ui-widget { font-family: Verdana,Arial,Helvetica,sans-serif; }

.odd{
	background-color:  #F7F6F4;
}
.even{
	
	/*background-color:  #F2F0FF*/;
}
.text-header{
	font-size: 110%;
	font-weight: bold;
}